@page
@model ContosoPizza.Pages.PizzaListModel
@{
    // This sets the <title> element for the page.
    ViewData["Title"] = "Pizza List 🍕";

}
<h1>Pizza List 🍕</h1>

<!-- New Pizza form will go here -->

<!-- List of pizzas will go here -->
